:root{
    --main-bg-color: #000;
    --element-bg-color: rgba(0,0,0,.5);
    --element-bg-alt-color: rgba(0,0,0,.75);
    --primary-color: #0099ff;
    --secondary-color: #c2e6ff;
    --warning-color: #cc0000;
}
body{
    background-color: var(--main-bg-color);

}

#alarmClock{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    padding: 72px 24px;
    background-image: url('./kirkjufell.jpg');
    background-size: cover;
}
#time{
    font-size: 10vw;
    font-family: 'Nova Mono', monospace;
    color: var(--primary-color);
    display: inline-block;
}
#date{
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    color: var(--primary-color);
    background-color: var(--element-bg-color);
    top: 0;
    right: 0;
    padding: 6px 8px;
    border: 2px solid var(--primary-color);
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 10px;
}

#uiControls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}

#timeFormat_alarmFrame{
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 100vw;
    left:0;
    bottom:0;
    transition: left .25s ease;
}

#timeFormat_alarmFrame.hidden{
    left:100vw;
}
#timeFormat_alarmFrame.left{
    left:-100vw;
}

#setAlarmFrame{
    position: absolute;
    display: inline-block;
    width: 100vw;
    right: 0;
    bottom:0;
    transition: right .25s ease;
}

#setAlarmFrame.hidden{
    right: -101vw;
}

#alarmDateFrame,
#alarmFutureDateFrame{
    position: absolute;
    display: inline-block;
    width: 100vw;
    right: 0;
    bottom:0;
    transition: right .25s ease;
}
#alarmDateFrame.hidden,
#alarmFutureDateFrame.hidden{
    right: -101vw;
}
#alarmDateFrame.left,
#alarmFutureDateFrame.left{
    right: 101vw;
}

#display{
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    top: 40vh;
    left: 8vw;
    width: 84vw;
    background-color: var(--element-bg-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}
button, select, input[type=date], input[type=time], input[type=datetime-local]{
    background-color: var(--element-bg-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 1vw 1.5vw;
    font-family: 'Nova Mono', monospace;
    font-size: 2vw;
    margin:1vw;
    transition: all .1s ease-in-out;
    outline: none;
}
button.active{
    background-color: var(--primary-color);
    color: var(--main-bg-color);
}
button:hover, select:hover, select:focus{
    background-color: var(--element-bg-alt-color);
    box-shadow: 0 0 10px var(--secondary-color);
    cursor: pointer;
}
button.active:hover{
    background-color: var(--primary-color);
    box-shadow: none;
    cursor: default;
}

input[type=date], input[type=time], input[type=datetime-local]{
    background-color: var(--secondary-color);
    color: var(--main-bg-color);
}

button#setAlarmAm, button#set12hr, button#setDateTodayBtn{
    border-right: 0;
    margin-right: 0;
    border-radius: 10px 0 0 10px;
}

button#setAlarmPm, button#set24hr, button#setDateFutureBtn{
    border-left: 0;
    margin-left: 0;
    border-radius: 0 10px 10px 0;
}

button.red{
   /* color: #fff;
    border-color: var(--warning-color);*/

}

select{
    margin: 0;
}

select#setAlarmHours{
    border-right: none;
    border-radius: 10px 0 0 10px;
    margin-right: 0;
}
select#setAlarmMinutes{
    border-right: none;
    border-left: none;
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
}
select#setAlarmSeconds{
    border-left: none;
    border-radius: 0 10px 10px 0;
    margin-left: 0;
}

.hidden{
    display:none;
}